

html, body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}
body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
}

.parent-container{
    display: grid;
    grid-template-columns: minmax(400px,0.3fr) 1fr;
    grid-auto-columns: auto;
    height: 100vh;
    box-sizing: border-box;
}

.container {
    max-width: 1200px;
    margin: 20px auto;
    padding: 20px;
    background-color: #ffffff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
}

h1 {
    text-align: center;
    color: #333333;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin: 20px 0;
}

table thead {
    background-color: #4CAF50;
    color: white;
}

table th, table td {
    padding: 12px;
    text-align: left;
    border-bottom: 1px solid #dddddd;
}

table tbody tr:nth-child(even) {
    background-color: #f9f9f9;
}

form.asignarClienteForm {
    display: flex;
    flex-direction: column;
}

form.asignarClienteForm input[type="text"],
form.asignarClienteForm input[type="number"],
form.asignarClienteForm button {
    margin: 5px 0;
    padding: 10px;
    border: 1px solid #cccccc;
    border-radius: 4px;
}

form.asignarClienteForm button {
    background-color: #4CAF50;
    color: white;
    border: none;
    cursor: pointer;
}

form.asignarClienteForm button:hover {
    background-color: #45a049;
}