<?xml version="1.0" encoding="UTF-8"?>
<web-app version="4.0" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd">
    <servlet>
        <servlet-name>cntLogin</servlet-name>
        <servlet-class>ServLets.cntLogin</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>cntLogout</servlet-name>
        <servlet-class>ServLets.cntLogout</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>cntCustomer</servlet-name>
        <servlet-class>ServLets.cntCustomer</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>cntLocales</servlet-name>
        <servlet-class>ServLets.cntLocales</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>cntReclamos</servlet-name>
        <servlet-class>ServLets.cntReclamos</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>cntContactenos</servlet-name>
        <servlet-class>ServLets.cntContactenos</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>cntProducto</servlet-name>
        <servlet-class>ServLets.cntProducto</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>cntCubiculos</servlet-name>
        <servlet-class>ServLets.cntCubiculos</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AgregarAlCarritoServlet</servlet-name>
        <servlet-class>ServLets.AgregarAlCarritoServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>cntCarrito</servlet-name>
        <servlet-class>ServLets.cntCarrito</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>cntAdmProductos</servlet-name>
        <servlet-class>ServLets.cntAdmProductos</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>cntDashboard</servlet-name>
        <servlet-class>ServLets.cntDashboard</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>cntAdmEmpleados</servlet-name>
        <servlet-class>ServLets.cntAdmEmpleados</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>procesarPago</servlet-name>
        <servlet-class>ServLets.procesarPago</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ClienteServlet</servlet-name>
        <servlet-class>ServLets.ClienteServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EnviarEmail</servlet-name>
        <servlet-class>ServLets.EnviarEmail</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ClienteServlet</servlet-name>
        <url-pattern>/ClienteServlet</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>EmpleadoServlet</servlet-name>
        <servlet-class>ServLets.EmpleadoServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>EmpleadoServlet</servlet-name>
        <url-pattern>/EmpleadoServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>cntLogin</servlet-name>
        <url-pattern>/cntLogin</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>cntLogout</servlet-name>
        <url-pattern>/logout</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>cntCustomer</servlet-name>
        <url-pattern>/cntCustomer</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>cntLocales</servlet-name>
        <url-pattern>/cntLocales</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>cntReclamos</servlet-name>
        <url-pattern>/cntReclamos</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>cntContactenos</servlet-name>
        <url-pattern>/cntContactenos</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>cntProducto</servlet-name>
        <url-pattern>/cntProducto</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>cntCubiculos</servlet-name>
        <url-pattern>/cntCubiculos</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AgregarAlCarritoServlet</servlet-name>
        <url-pattern>/AgregarAlCarritoServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>cntCarrito</servlet-name>
        <url-pattern>/cntCarrito</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>cntAdmProductos</servlet-name>
        <url-pattern>/cntAdmProductos</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>cntDashboard</servlet-name>
        <url-pattern>/cntDashboard</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>cntAdmEmpleados</servlet-name>
        <url-pattern>/cntAdmEmpleados</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>procesarPago</servlet-name>
        <url-pattern>/procesarPago</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EnviarEmail</servlet-name>
        <url-pattern>/EnviarEmail</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>Inicio.jsp</welcome-file>
    </welcome-file-list>
</web-app>
